* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}
a {
  text-decoration: none;
}

/* Nav CSS start here */

.single-post-page-nav {
  margin-bottom: 80px;

}

.single-post-page-nav nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px #0e0220;
  /*background: transparent;*/
}

nav .logo {
  padding: 4px 20px;
  height: 40px;
  float: left;
  font-size: 24px;
  transition: .3s;
}

nav .logo a {
  color: #000;
}

nav.black {
  background: #000;
  height: 80px;
  padding: 10px 100px;
}

nav.black .logo {
  color: #000;
}

/* Dept nav list CSS */

.dept {
  padding: 4px 20px;
  height: 40px;
  width: 100% auto;
  float: left;
  transition: .3s;
  margin-left: 50px;
}

.dept .dept-list {
  list-style: none;
  display: inline-flex;
  float: left;
  word-spacing: 2px;
}

.dept-list a {
  color: #000;
  margin-right: 4px;
}

.dept-list .acca {
  height: 40px;
  background-color: #bb0029;
  color: #f6f6f6;
  margin-right: 8px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.dept-list .acca:hover {
  background-color: #e7455f;
  color: #f6f6f6;
  transition: 0.3s;
}

.dept-list .cima {
  height: 40px;
  background-color: #ff5722;
  color: #f6f6f6;
  margin-right: 8px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.dept-list .cima:hover {
  background-color: #f4d143;
  color: #f6f6f6;
  transition: 0.3s;
}

.dept-list .cat {
  height: 40px;
  background-color: #71397c;
  color: #f6f6f6;
  margin-right: 8px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.dept-list .cat:hover {
  background-color: #388e3c;
  color: #f6f6f6;
  transition: 0.3s;
}

.logout {
  float: right;
  height: 25px;
  width: 59px;
  /*cursor: pointer;*/
}

.logout a {
  text-decoration: none;
  background-color: #0e0220;
  padding: 4px 10px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  height: 25px;
  width: 65px;
  text-align: center;
  display: block;
  transition: all 0.3s ease-out;
}

.logout a:hover {
  background-color: #fa8f4d;
  color: #0e0220;
  transition: all 0.3s ease-out;
  height: 24px;
  /*border: 1px solid #0e0220;*/
}

/* Nav CSS end here */

/* Nav CSS end here */




.full-page {
	width: 80%;
	margin: 0 auto;
	/*background-color: #588c7e;*/
	overflow: hidden;
	height: 100%;
}

.user-intro {
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	margin-top: 50px;
}


/* user-intro-box section */

.user-intro-box {
	float: left;
  	width: 30%;
  	height: 100% auto;
  	margin-left: 33px;
  	margin-bottom: 16px;
  	padding: 0 16px;
  	background-color: #fff;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  width: 350px;
  height: 100% auto;
  background-color:  #13293d;
  box-shadow: 10px 10px 25px grey; 
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Card 3s shake when hover */


.card:hover {
  animation: shake 3.99s;
  border-radius: 10px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Card 3s shake when hover section end */

.container {
  padding: 0 25px;
  margin-top: 9px;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}



.user-info {
	list-style: none;
	text-decoration: none;
	color: #f4f9f4;
	letter-spacing: 1px;
	font-weight: 450;
	font-size: 25px;
	font-family: 'Dosis', sans-serif;
	border-bottom: solid 1px #606470;
}

/* user-intro section end */


.user-intro-info {
	float: left;
	width: 57%;
	margin: 10px;
	padding: 10px;
	margin-top: 15px;
	margin-left: 40px;

}

.user-intro-info #username {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
	font-style: normal;
	font-weight: 200;
	color: #3b3a30;
}

.user-intro-info #bio {
    /*font-family: 'Poiret One', cursive;*/
    font-family: 'Caveat', cursive;
	color: #576366;
    letter-spacing:0.1em;
    line-height: 100%;
    font-size: 22px;
    font-weight: 50;
    /*font-variant: small-caps;*/
    margin-top: 9px;
    color: #6c567b;

}

.user-intro-info #city {
	font-size: 25px;
	letter-spacing: 2px;
	line-height: 100%;
	font-weight: 400;
	font-family: 'Poiret One', cursive;
	margin-top: 44px;
	color: #3b3a30;
}

.user-intro-info1 {
	/*border-bottom: 1px solid #3b3a30;*/
}


.user-info-list {
	/*float: left;*/
	width: 40%;
	font-weight: 100;
	font-family: 'Satisfy', cursive;
	font-size: 20px;
	letter-spacing: 2px;
	float: left;
}



.follow-on-social {
	float: left;
	width: 40%;
}


.cus-social-li {
  line-height: 27px;
  /*font-weight: bold;*/
  letter-spacing: 15px;
  list-style: none;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.cus-social-li a {
  color: #fff;
}

.cus-social-li a.fb:hover {
  color: #3b5999;
}

.cus-social-li a.tw:hover {
  color: #55acee;
}

.cus-social-li a.dri:hover {
  color: #ea4c89;
}
.cus-social-li a.yt:hover {
  color: #cd201f;
}
.cus-social-li a.gp:hover {
  color: #dd4b39;
}
.cus-social-li a.git:hover {
  color: #4078c0;
}
.cus-social-li a.ins:hover {
  color: #e4405f;
}


.user-activity {
	float: left;
	width: 50%;
	border-left: solid 1px #000;
	margin-left: -123px;
}

.user-activity-list1 {
	font-size: 20px;
	font-weight: 150;
	font-family: 'Nixie One', cursive;
	display: flex;
	letter-spacing: 1px;
	word-spacing: 4px;
}

.session-activity {
	line-height: 18px;
	font-size: 20px;
	margin-top: 10px;
	padding: 3px;
	font-family: 'Farsan', cursive;
	background-color: #fafaf6;
	color: #144d53;
	border-radius: 1px;
	padding: 5px;
}

/* User Achievement CSS style here */
	
.user-achievement-box {
	background-color: #e6e6d4;
	width: 350px;
	height: 100% auto;
	border-radius: 2px;
}

.user-achievement-box>h3 {
	  font-size: 20px;
  	letter-spacing: 3px;
  	font-family: 'Julius Sans One', sans-serif;
  	padding: 5px;
  	margin: 5px;
  	color: #ff4d4d;
}

.user-achievement-view {
	margin: 10px;
	padding: 10px;
}

.user-achievement-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #1a2c5b;
}

/* User Activity CSS start here */

.user-all-activity {
  background-color: #e6e6d4;
  width: 100%;
  height: 100% auto;
  border-radius: 2px;
  margin-top: 10px;
}

.all-activity-list {
  padding: 10px;
  font-size: 30px;
  font-family: 'Snippet', sans-serif;
}

.all-activity-list>ul {
  list-style: none;
}

/* User Achievement CSS style end here */

/* -------------- Custom Footer -------------- */

.footer-parallax {
  margin-top: 10px;
}

.parallax-footer {
  height: 200px;
  background: transparent;
  overflow: hidden;
}

.cus-footer {
  width: 100%;
  height: 50vh;
  /*margin-top: -70px;*/
  box-sizing: border-box;
  overflow: hidden;
  background-color: #232931;
  box-shadow: -0px -2px 5px 5px;
}

#cus-footer {
  margin-bottom: 20px;
  color: #fff;
  margin-top: 20px;
}


.cus-footer-sec {
  float: left;
  width: 24%;
  padding: 0 16px;
}



.cus-footer-menu  , .cus-footer-social-li {
  list-style: none;
  text-decoration: none;
}


.cus-footer-logo {
  margin-left: 32px;
  padding: 10px;
}

.cus-footer-logo h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.cus-footer-logo p {
  font-family: 'Poiret One', cursive;
  font-size: small;
  font-size: 15px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.cus-footer-logo p[type=arr] {
  font-size: large;
  margin-top: 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.cus-footer-link {
  margin-left: 40px;
  padding: 10px;
  border-left: solid 1px rgba(255,255,255,0.10);
} 

.cus-footer-link h1 {
  font-size: 20px;
  letter-spacing: 3px;
  font-family: 'Julius Sans One', sans-serif;
}

.cus-footer-link .cus-footer-menu {
  margin-left: 30px;
  font-size: 30px;
  margin-top: 15px;
  text-transform: uppercase;
  line-height: 50px;
}

.cus-footer-link .cus-footer-menu a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Julius Sans One', sans-serif;
  transition: all 0.3s ease-out;

}

.cus-footer-link .cus-footer-menu a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-out;
  color: #61b292;
}

.cus-footer-social {
  padding: 10px;
  border-left: solid 1px rgba(255,255,255,0.10);
  border-width: thin;
}

.cus-footer-social h1 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 6px;
  font-size: 25px;
}

.cus-footer-social-li {
  margin-top: 10px;
  margin-left: 15px;
  line-height: 27px;
  font-weight: bold;
  letter-spacing: 2px;
}

.cus-footer-social-li a {
  color: #fff;
  font-family: 'Julius Sans One', sans-serif;
}

.cus-footer-social-li a.fb:hover {
  color: #3b5999;
}

.cus-footer-social-li a.tw:hover {
  color: #55acee;
}

.cus-footer-social-li a.dri:hover {
  color: #ea4c89;
}
.cus-footer-social-li a.yt:hover {
  color: #cd201f;
}
.cus-footer-social-li a.gp:hover {
  color: #dd4b39;
}
.cus-footer-social-li a.git:hover {
  color: #4078c0;
}
.cus-footer-social-li a.ins:hover {
  color: #e4405f;
}


.cus-footer-sub {
  padding: 10px;
  margin-left: -10px;
  border-left: solid 1px rgba(255,255,255,0.10);
}

.cus-footer-sub h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #6ddabe;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cus-footer-sub p {
  margin-top: 9px;
  font-size: 17px;
  line-height: 30px;
  font-family: 'Nixie One', cursive;
}

.cus-footer-sub .newsletter {
  color: #db3b61;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  font-family: 'Nixie One', cursive;
}

.cus-footer-sub .newsletter:hover {
  color: #fdadc7;
  transition: all 0.3s ease-out;
}

.cus-footer-sub input {
  width: 250px;
  height: 34px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 6px;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
}

.cus-footer-sub .sub-btn {
  height: 34px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 6px;
  cursor: pointer;
  background-color: #003545;
  color: #fff;
  margin-left: 75px;
  margin-top: 2px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.cus-footer-sub .sub-btn:hover {
  background-color: #f0b917;
  color: #a40a3c;
  transition: all 0.3s ease-out;
}



/* Top Button Css */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
}

#myBtn:hover {
  background-color: #fff;
	color: #000;
	border: 2px solid #000;
}